@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border font-sans;
}

body {
  @apply bg-bgColor text-textMain;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(189, 189, 189);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

@layer base {
  :root {
    --text-main: rgb(46 46 46); /* text, border:hover */
    --text-secondary: rgba(0, 0, 0, 0.6); /* placeholder */
    --light-grey: rgba(62, 62, 62, 0.307); /* border */
    --bg-color: rgb(245, 245, 247); /* bg */
    --option-hover: rgba(0, 0, 0, 0.04);
    --option-hoverActive: rgba(0, 0, 0, 0.2);
    --color-primary: rgb(198, 48, 49);
    --disabled-primary: rgba(0, 0, 0, 0.12);
    --disabled-primary-text: rgba(0, 0, 0, 0.26);
    --primary-light: rgb(252, 237, 237);
    --primary-light-active: rgb(245, 184, 184);
    --secondary-light: rgb(235, 235, 235);
    --secondary-light-active: rgb(212, 212, 212);
    --p-tabs-active-bar-background: var(--color-primary) !important;
  }

  :root[class~='dark'] {
    --text-main: rgb(255, 255, 255);
    --text-secondary: rgba(255, 255, 255, 0.65);
    --light-grey: rgba(190, 190, 190, 0.307);
    --bg-color: rgb(53, 53, 53);
    --option-hover: rgb(78, 78, 78);
    --option-hoverActive: rgb(106, 106, 106);
    --color-primary: rgb(198, 48, 49);
    --bg-dropdown: rgb(36, 36, 36);
    --disabled-primary: rgba(255, 255, 255, 0.12);
    --disabled-primary-text: rgba(255, 255, 255, 0.3);
    --primary-light: rgba(198, 48, 49, 0.16);
    --primary-light-active: rgba(198, 48, 49, 0.32);
    --secondary-light: rgba(118, 118, 118, 0.08);
    --secondary-light-active: rgba(212, 212, 212, 0.2);
    --p-tabs-active-bar-background: var(--color-primary);
  }
}

.container {
  @apply mb-5;
}

.p-select-overlay {
  @apply !border-none;
}

.p-select-list-container {
  @apply rounded bg-white shadow-dropdown dark:bg-bgDropdown;
  max-height: 80vh !important;
}

.p-select-list {
  @apply !px-0;
}

.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
  @apply hover:!bg-optionHover;
}

.p-select-list-container .p-select-option.p-select-option-selected.p-focus,
.p-select-list-container .p-select-option.p-select-option-selected {
  @apply bg-primaryLight hover:bg-primaryLightActive;
}

.p-select-list-container .p-select-option {
  @apply rounded-none py-2 hover:bg-optionHover active:bg-lightGrey;
}

.p-select-option.p-select-option-selected {
  @apply bg-primaryLight text-textMain;
}

.p-select-option-label {
  @apply text-sm text-textMain;
}
